.header{
width: 100%;
background-color: #FFA09B;
height: 70px;
padding: 10px 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.8em;
font-weight: 800;
text-transform: uppercase;
border-bottom: 2px dashed #000;
color: #732255;
font-family: Cursive ;
}
.footer{
width: 100%;
position: fixed;
background-color: #FFC785;
height: 40px;
padding: 10px 10px;
display: flex;
justify-content: center;
align-items: center;
bottom: 0;
left: 0;
border-top: 2px dashed #000;
}
.main{
width: 100%;
min-height: calc(100vh - 70px);
background-color: #FFE6C9;
height: 100%;
}