
.barred-text{ text-decoration: line-through;}
.button-style{
  border-radius:"13px";
  height:50px;
  width:120px;
  
}
.button-style:hover{
  background-color:darken;
}
.todo-input{
  height : 50px;
  width:50vw;
  border-radius:13px
}
